.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 50px 120px;

  @media(max-width: 767px){
    padding: 50px 20px;
  }
}

.buttons{
  display: flex;
  flex-direction:  row;
  gap: 30px;
  @media(max-width: 767px){
    flex-direction: column;
  }
}

  
